{% trans_default_domain 'nglayouts_app' %}

{% set block_definition = block.definition %}
{% set view_context = 'app' %}

<section>
    {% if forms.full is defined %}
        {% include '@NetgenLayoutsAdmin/app/block/edit/collection_type.html.twig' %}

        <div data-form>
            {{ nglayouts_render_value(
                forms.full,
                {'action': path('nglayouts_app_block_form_edit', {'blockId': block.id.toString, 'locale': block.locale, 'formName': 'full'})}
            ) }}
        </div>

        {% include '@NetgenLayoutsAdmin/app/block/edit/collection_query.html.twig' %}
        {% include '@NetgenLayoutsAdmin/app/block/edit/collection.html.twig' %}
        {% include '@NetgenLayoutsAdmin/app/block/edit/collection_items.html.twig' %}
    {% elseif forms.content is defined and forms.design is defined %}
        <div data-component="tabs">
            <a data-component="tab-control" data-target-tab="content">{{ 'block.edit.tabs.content'|trans }}</a>
            <a data-component="tab-control" data-target-tab="design">{{ 'block.edit.tabs.design'|trans }}</a>

            <div data-component="tab-pane" data-tab="content">
                {% if block.definition.collections is not empty %}
                    <div class="sidebar-panel">
                        <a class="toggle-link" role="button" data-toggle="collapse" href="#collapseSettings" aria-expanded="true" aria-controls="collapseSettings">
                            {{ 'block.edit.options'|trans }}
                        </a>

                        <div class="collapse" id="collapseSettings">
                            <div data-form>
                                {{ nglayouts_render_value(
                                    forms.content,
                                    {'action': path('nglayouts_app_block_form_edit', {'blockId': block.id.toString, 'locale': block.locale, 'formName': 'content'})}
                                ) }}
                            </div>

                            {% include '@NetgenLayoutsAdmin/app/block/edit/collection_type.html.twig' %}
                            {% include '@NetgenLayoutsAdmin/app/block/edit/collection_query.html.twig' %}
                            {% include '@NetgenLayoutsAdmin/app/block/edit/collection.html.twig' %}
                        </div>
                    </div>

                    {% include '@NetgenLayoutsAdmin/app/block/edit/collection_items.html.twig' %}
                {% else %}
                    <div data-form>
                        {{ nglayouts_render_value(
                            forms.content,
                            {'action': path('nglayouts_app_block_form_edit', {'blockId': block.id.toString, 'locale': block.locale, 'formName': 'content'})}
                        ) }}
                    </div>
                {% endif %}
            </div>

            <div data-component="tab-pane" data-tab="design">
                <div data-form>
                    {{ nglayouts_render_value(
                        forms.design,
                        {'action': path('nglayouts_app_block_form_edit', {'blockId': block.id.toString, 'locale': block.locale, 'formName': 'design'})}
                    ) }}
                </div>
            </div>
        </div>
    {% else %}
        <div class="not-selected">
            <div class="content">
                <span class="icon-block"></span>
                <p>{{ 'block.edit.invalid_block'|trans }}</p>
            </div>
        </div>
    {% endif %}
</section>
